/* Import the Source Sans 3 font */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* Apply responsive styling for cards */
.new-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 90%; /* Make the card width 100% */
  max-width: 370px; /* Set maximum width for larger screens */
  height: auto; /* Allow the height to adjust based on content */
  border: 1px solid #000;
  padding: 1rem;
  font-family: "Source Sans 3", sans-serif;
  margin: auto;

  @media screen and (min-width: 426px) and (max-width: 769px) {
    width: 90%; /* Adjust width for medium-sized screens */
    max-width: 650px; /* Set a maximum width for larger medium-sized screens */
  }
}

.new-card:hover {
  transform: translateY(-4px);
}

.new-card-image {
  width: 100%;
  max-height: 258px; /* Set maximum height for larger screens */
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.new-card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.new-card-heading {
  color: #0e2368;
  font-size: 21px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.new-card-info {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.02em;
  text-align: left;
}

.new-card-button {
  margin-top: auto;
  background-color: #ffffff;
  color: #424961;
  padding: 12px;
  border: 1px solid #424961;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.new-card-button:hover {
  background-color: #bf1e38;
  color: #ffffff;
}
