@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

.explorenowbtn {
  background-color: #e23744;
  width: 10rem;
  height: 3rem;
  padding: 14px 34px 14px 34px; /* Corrected padding values */
  border-radius: 34px;
  gap: 7px;
  color: white;
}

/* Your other styles here */

.wrapper {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Media query for screens of 375px and below */
@media (max-height: 375px) {
  .wrapper {
    height: max-content;
    overflow-y: auto;
  }
}

@media (max-width: 375px) {
  .mainimage {
    width: 375px;
    height: 426px;
  }

  .landing {
    width: 100%; /* Ensure the image takes full width */
    height: 100%; /* Ensure the image takes full height */
    border-radius: 27px;
  }
}

.aboutUS {
  @media screen and (max-width: 376px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
